<div>
  <%= form_with url: entry_path, local: true do |f| %>
    <%= f.text_field :entry_content %>
    <%= f.submit "Nuevo problema", name: 'new_problem'%>
    <%= f.submit "Nueva solución", name: 'new_solution'%>
  <% end %>

  <h1>Problems</h1>
  <% @problems.each do |problem| %>
      <p><%= problem.name %></p>
  <% end %>

  <h1>Solutions</h1>
  <% @solutions.each do |solution| %>
      <p><%= solution.name %></p>
  <% end %>
</div>
